.input {
    /* margin: 2rem auto; */
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}

.input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
}

.input input:focus {
    outline: none;
    background-color: #fad0ec;
    border-color: #8b005d;
}

.input input:focus::placeholder {
    color: #8b005d;
}

.input input::placeholder {
    color: #ccc;
}